*{
	/*CSS Reset
		resets the premade margins and padding by browser. this way, it is better to manipulate the elements
		using 0 margins and paddings


		Calculations for the dimensions of the element: (without box-sizing);
			border + padding + margin + content(height/width)
	

		with box-sizing - determines how the dimensions of the element will be calculated . the border and padding will be include
		in the computation of the height and with
	*/
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}


#div1{
	/*
		margin is the space outside the border
		padding is the space in between the content and the element

	*/
	/*margin: 50px;*/
	padding: 20px;
	border: 2px solid black;
	height: 100px;
	width: 100px;
	display: inline-block;
	vertical-align: text-top;
}


#div2{
	/*top-buttom and left-right*/
	/*margin: 25px 100px;*/

	/*top, left-right and bottom*/
	/*margin: 10px 70px 50px;*/

	/*top right bottom and left*/
	/*margin: 100px 10px 15px 50px;*/

	/*margin in a specific side*/
	/*margin-top: 10px;*/

	border: 2px solid black;
	padding: 20px;
	background-color: red;
	height: 100px;
	width: 100px;
	display: inline-block;

	/*the contents of the element will be aligned to the top of the box*/
	vertical-align: text-top;

}


#span1{
	/*the absence */
	display: inline-block;
	border: 2px solid black;
	background-color: green ;
	height: 100px;
	width: 100px;
	vertical-align: text-top;
}

#span2{
	display: inline-block;
	border: 2px solid black;
	background-color: blue ;
	height: 100px;
	width: 100px;
	vertical-align: text-top;
}